<div id="intro">
<p>	After years of fair-minded advocacy to change the repressive, outdated food truck laws in the City of New Orleans, the New Orleans Food Truck Coalition is in danger of losing to opponents of progress. </p>
	<p> You, the progressive-minded food lovers, are our greatest asset.  Like us, you believe that food trucks are an important part of the future of food in New Orleans.  You've come to our festivals and followed us on Twitter, but right now the New Orleans City Council doesn't even know you exist. </p>
<p> Please help us change that by taking action:</p>
</div>

<ol>
	<li class="list_item">
 		<a href="https://www.change.org/petitions/it-s-time-to-change-food-truck-laws-in-new-orleans?utm_campaign=url_share_before_sign&utm_medium=url_share&utm_source=share_petition" target="_blank"> Sign the petition </a>
<span>The petition includes the reasonable guidelines for food truck operation that we worked out with Councilwoman Head, the Mayor's office, and numerous other stakeholders. The amount of time a food truck can park will be extended from 30 minutes to 4 hours, the distance it must be from a school, church or restaurant will be decreased from 600 feet (3-5 city blocks) to 50 feet, and parts of the CBD will finally have access to mobile food.</span>
	</li>
	<li class="list_item">
	<a href="http://nolacitycouncil.com/meet/meet.asp" target="_blank">	Contact your councilmember	</a>	
		<span>Click the link above to see which councilmember is yours, and their contact information. Phone calls are preferred, but emailing your councilperson with reasons why you support these changes can help too.  </span>
	</li>
	<li class="list_item">
	<a href = "/restaurant" target="_blank">Ask your favorite restaurant to join </a>
	<span>See all of the great New Orleans restaurants and chefs that recognize the value of promoting food trucks.  Then ask your favorite restaurant if they will sign on as well.   </span>
	</li>	
</ol>

<p> We know you're busy, but doing all three takes only a few minutes, and makes a huge difference. </p>
</div>
	